body {
color: white;
background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/static/background.jpg");
background-size: 120%;
background-position: 20% 0;
font-family: 'Droid Sans', 'Helvetica', 'sans'; font-size: 12pt;
margin: 2ex 2em;
}

h1, h2, h3, h4 { color: orange;
}
a{
color: white; text-decoration: underline;
}
nav li {
display: inline; margin-right: 1em; font-size: 80%;
}

table#curlers {
	width: 100%;
	background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.7));
	border-style: ridge;
	border-width: 2px;
	border-color: white;
}
td#curlers {
	width: 20%;
	border-style: inset;
	border-width: 1px;
	border-color: white;
}

td#curlers_header {
	width: 20%;
	border-style: inset;
	border-width: 1px;
	border-color: black;
        text-decoration-color: black;
        color: black;
}

table#curlersupdate {
	width: 100%;
	background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.7));
	border-style: ridge;
	border-width: 2px;
	border-color: white;
}

td#curlersupdate {
	width: 20%;
	border-style: inset;
	border-width: 1px;
	border-color: white;
}

td#curlers_add {
	width: 20%;
	border-style: inset;
	border-width: 1px;
	border-color: white;
}

select#curlers_add {
    width: 90%;
    alignment-adjust: central;
}

input#curlers_add {
    width: 90%;
    alignment-adjust: central;
}