body {
color: white;
background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/static/background.jpg");
background-size: 120%;
background-position: 20% 0;
font-family: 'Droid Sans', 'Helvetica', 'sans'; font-size: 12pt;
margin: 2ex 2em;
}

h1, h2, h3, h4 { color: orange;
}
a{
color: white; text-decoration: underline;
}
nav li {
display: inline; margin-right: 1em; font-size: 80%;
}

table#federations {
	width: 100%;
	background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.7));
	border-style: ridge;
	border-width: 2px;
	border-color: white;
}

table#news_update {
	width: 100%;
	background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.7));
	border-style: ridge;
	border-width: 2px;
	border-color: white;
}

tr#newstag {
    width: 32%;
}

td#federations_header {
	width: 20%;
	border-style: inset;
	border-width: 1px;
	border-color: white;
        color: black;
        align: center;
}

td#federations {
	width: 20%;
	border-style: inset;
	border-width: 1px;
	border-color: white;
        alignment-adjust: central;
}

td#federations_update {
	width: 100%;
	border-style: inset;
	border-width: 1px;
	border-color: white;
}

td#federations_form {
    
}

input#federations {
    width: 90%;
}

select#federations {
    width: 90%;
}

td#news_footer {
	width: 8%;
	border-style: inset;
	border-width: 1px;
	border-color: white;
        color: captiontext;
}
    input#federations_add {
    background-color: #0fa3ff;
    color: #101010;
}
