body {
color: white;
background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("http://www.columbiacurlingclub.com/assets/images/stone.jpg");
background-size: 120%;
background-position: 20% 0;
font-family: 'Droid Sans', 'Helvetica', 'sans'; font-size: 12pt;
margin: 2ex 2em;
}

h1, h2, h3, h4 { color: orange;
}
a{
color: white; text-decoration: underline;
}
nav li {
display: inline; margin-right: 1em; font-size: 80%;
}
table#fixture {
	width: 100%;
	background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.7));
	border-style: ridge;
	border-width: 2px;
	border-color: white;
}
td#fixture {
	width: 20%;
	border-style: inset;
	border-width: 1px;
	border-color: white;
}td#checkbox {
	width: 1%;
	border-style: inset;
	border-width: 1px;
	border-color: white;
}
td#fixture_form {
	border-style: inset;
	border-width: 1px;
	border-color: white;
	text-align: center;
}
td#fixture_form_add {
	text-align: center;
}
input#fixture_form {
	width: 100%;
	layout-gravity: center;
}
input#fixture_form_add {
	width: 30%;
}
table#clubs{
	width: 80%;
	background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.7));
	border-style: ridge;
	border-width: 4px;
	border-color: yellow;
}
td#clubs{
	border-style: inset;
	border-width: 1px;
	border-color: white;
}
td#clubs_form{
	border-style: inset;
	border-width: 2px;
	border-color: white;
	text-align: center;
}
td#clubs_form_add{
	text-align: center;
}
input#clubs_form{
	width: 95%;
	layout-gravity: center;
}
input#clubs_form_add{
	width: 40%;
}
table#chform{
	width: 100%;
	background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.7));
	border-style: ridge;
	border-width: 2px;
	border-color: white;
}
td#chform{
	border-style: inset;
	border-width: 1px;
	border-color: white;
}
td#championship_form{
	border-style: inset;
	border-width: 1px;
	border-color: white;
	text-align: center;
}
td#championship_form_button{
	text-align: center;
}
input#championship_form{
	width: 95%;
	layout-gravity: center;
}
input#championship_form_button{
	width: 30%;
}
.btn {
  background: #26a8ff;
  background-image: -webkit-linear-gradient(top, #26a8ff, #0e97ed);
  background-image: -moz-linear-gradient(top, #26a8ff, #0e97ed);
  background-image: -ms-linear-gradient(top, #26a8ff, #0e97ed);
  background-image: -o-linear-gradient(top, #26a8ff, #0e97ed);
  background-image: linear-gradient(to bottom, #26a8ff, #0e97ed);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #000000;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  border: solid #cf1d1d 2px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}