body {
color: white;
background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("http://www.columbiacurlingclub.com/assets/images/stone.jpg");
background-size: 120%;
background-position: 20% 0;
font-family: 'Droid Sans', 'Helvetica', 'sans'; font-size: 12pt;
margin: 2ex 2em;
}

h1, h2, h3, h4 { color: orange;
}
a{
color: white; text-decoration: underline;
}
nav li {
display: inline; margin-right: 1em; font-size: 80%;
}
table#fixture{
	width: 100%;
	background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.7));
	border-style: ridge;
	border-width: 2px;
	border-color: white;
}
td#fixture{
	border-style: inset;
	border-width: 1px;
	border-color: white;
}
td#fixture_form{
	border-style: inset;
	border-width: 1px;
	border-color: white;
	text-align: center;
}
td#fixture_form_add{
	text-align: center;
}
input#fixture_form{
	width: 95%;
	layout-gravity: center;
}
input#fixture_form_add{
	width: 30%;
}