body {
color: white;
background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/static/background.jpg");
background-size: 120%;
background-position: 20% 0;
font-family: 'Droid Sans', 'Helvetica', 'sans'; font-size: 12pt;
margin: 2ex 2em;
}

h1, h2, h3, h4 { color: orange;
}
a{
color: white; text-decoration: underline;
}
nav li {
display: inline; margin-right: 1em; font-size: 80%;
}

table#clubs{
	width: 60%;
	background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.7));
	border-style: ridge;
	border-width: 4px;
	border-color: yellow;
}
table#money_balance{
	width: 60%;
	background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.7));
	border-style: ridge;
	border-width: 4px;
	border-color: yellow;
}

td#clubs{
	border-style: inset;
	border-width: 1px;
	border-color: white;
}
td#clubs_form{
	border-style: inset;
	border-width: 2px;
	border-color: white;
	text-align: center;
}
td#clubs_form_add{
	text-align: center;
}
input#clubs_form{
	width: 80%;
	layout-gravity: center;
}
input#clubs_form_add{
	width: 20%;
}
table#chform{
}
td#chform{

}
td#championship_form{
	text-align: center;
}
td#championship_form_button{
	text-align: center;
}
input#championship_form{
	width: 75%;
	layout-gravity: center;
}
input#championship_form_button{
	width: 30%;
}

.add {
  background: #23a2f7;
  background-image: -webkit-linear-gradient(top, #23a2f7, #0fa3ff);
  background-image: -moz-linear-gradient(top, #23a2f7, #0fa3ff);
  background-image: -ms-linear-gradient(top, #23a2f7, #0fa3ff);
  background-image: -o-linear-gradient(top, #23a2f7, #0fa3ff);
  background-image: linear-gradient(to bottom, #23a2f7, #0fa3ff);
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  font-family: Arial;
  color: #ff0f0f;
  font-size: 14px;
  padding: 4px 5px 4px 5px;
  border: solid #1e3a4a 2px;
  text-decoration: none;
}

.add:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
