<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8" />
	{% extends "layout.html" %}
	{% block title %}Championships{% endblock %}
</head>

{% block content %} <h1 align="">Championships</h1>
<font color="#B5F7DF ">
<table width="100" id=chform>
<form id="search" action="{{ url_for('championships_page')}}" method ="post">
        <tr id="search">
            <td  colspan="7" align="right" id="search" ><input form ="search" id="search" type="text" name="search_name" placeholder="Enter Championship name/Place" required="required"></td>
            <td align="right" id="search"><input class="add" Value="Search" name="search" id="search" type="submit" form="search"></td>
        </tr>
    </form>
<form id="delete_form" action="{{ url_for('championships_page') }} " method = "post">



<tr style="color:#2ECCFA;font-weight: bold;">
	<td ></td>
	<td width="4%">Championship</td>
	<td width="10%">Place</td>
	<td width="4%">Date</td>
	<td width="5%">Format</td>
	<td width="1%">Team Number</td>
	<td width="10%">Reward</td>
	<td width="62%"></td>


</tr>
</font>
{%for id, name, place, date, type, teamNo, reward in championship%}
<tr id=chform>
	<td width="3%" style="background:transparent;border:0"id=checkbox ><input form ="delete_form" type="checkbox" name="checkbox_{{id}}"></td>
	<td width="3%"id=chform>{{name}}</td>
	<td width="3%"id=chform>{{place}}</td>
	<td width="3%"id=chform>{{date}}</td>
	<td width="3%"id=chform>{{type}}</td>
	<td align="center" width="3%"id=chform>{{teamNo}}</td>
	<td width="5%"id=chform>{{reward}}</td>
	<td>
       <a href="{{ url_for('championship_update_page',championship_id = id) }}" style="text-decoration: none"><font color="#2ECCFA">Update</font></a>
    </td>
</tr>
{%endfor%}


<tr id=chform>

				<td><input class="add" Value="Delete" name="delete" type="submit" form="delete_form"></td></form>
</tr>
<tr>
<tr></tr>
				<form id="addC" action="{{ url_for('championships_page') }} " method = "post">
				<td id="championship_form"><input form="addC" id="chform" type="text" placeholder="Name" name="name" required="required" size="10"></td>
				<td id="championship_form">
				    <select data-placeholder="Choose a Country..." tabindex="4" name="place">
      			<option disabled="disabled" selected="selected" hidden="hidden">Select a country</option>
      			{% for country in countries%}
					<option value="{{country[0]}}">{{country[1]}}</option>
				{% endfor %}
    		</select>
				</td>
				<td id="championship_form"><input form="addC" id="chform" type="date" placeholder="DD.MM.YYYY" name="date" required="required" size="7"></td>
				<td id="championship_form">
				<select data-placeholder="Choose a format..." tabindex="4" name="type" required="required">
      				<option value="">Choose a Format</option>
      				<option value="Single Elimination">Single Elimination</option>
      				<option value="Double Elimination">Double Elimination</option>
      				<option value="Multilevel">Multilevel</option>
      				<option value="Round Robin">Round Robin</option>
      				<option value="League">League</option>
				</select>
				</td>
				<td id="championship_form"><input form="addC" id="chform" type="number" min="4" placeholder="Number of Teams" name="number_of_teams" size="7" required="required"></td>
				<td id="championship_form"><input form="addC" id="chform" type="text" placeholder="Reward" name="reward" required="required" size="7"></td>
				</tr>

				<tr id=chform>
					<td colspan="4" style="text-align: left" id="championship_form_button">
					<input form="addC" class="add" id="championship_form_button" value="Add Championship" name="add" type="submit" >
					</form>
					</td>
				</tr>

</table>

{% endblock %}
</html>
