<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	{% extends "layout.html"%}
	{% block title %}Championship Update{% endblock %}
</head>
{% block content %}
    <h2>Championships</h2>
    <table id=championship_update>
{%for id, name, place, date, type, teamNo, reward in championship%}
            <form id=update action="{{ url_for('championship_update_page',championship_id='0') }}" method = "POST">
                <tr id=update>
                    <td id=update><input value="{{name}}" form ="update" id="championships" type="text" placeholder="Name" name="name"> </td>
                    <td id=update><input value="{{place}}" form ="update" id="championships" type="text" placeholder="Place" name="date"></td>
                    <td id=update><input value="{{date}}" form ="update" id="championships" type="date" placeholder="(dd/MM/yyyy)" name="date"></td>
                    <td id=update><input value="{{type}}" form ="update" id="championships" type="text" placeholder = "Type" name="type"></td>
                    <td id=update><input value="{{teamNo}}" form ="update" id="championships" type="number" placeholder="Team Size" name="teamNo"></td>
                    <td id=update><input value="{{reward}}" form ="update" id="championships" type="text" placeholder="Reward" name="reward"></td>

                </tr>
                <input type="hidden" name="championship_id" value="{{id}}">
                <tr id=update>
                    <td colspan="7" id=championship_form_add>
                        <input form="update" id="championship_form_add" value="Update Championship" name="update" type="submit">
                    </td>
                </tr>
            </form>
        {% endfor %}
    </table>
</html>




	{% endblock %}
</html>