<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	{% extends "layout.html"%}
	{% block title %}Country Search{% endblock %}
</head>
{% block content %}
    <h2>Countries</h2>
    <font color="#B5F7DF ">
 <form id="search" action="{{ url_for('countries_page')}}" method ="post">
    <table id=championship_search width="100%" cellspacing="0" cellpadding="0">


            <tr  width="4%"colspan="7" align="left" id="search" ><input form ="search" id="search" type="text" name="search_name" placeholder="Enter Country" required="required"></tr>
            <tr  width="4%"align="left" id="search"><input class="add" Value="Search" name="search" id="search" type="submit" form="search"></tr>




<tr style="color:#2ECCFA;font-weight: bold;">


	<td ></td>
	<td width="20%">Country</td>
	<td width="20%">Curlers</td>
	<td width="20%">Clubs</td>
	<td width="20%">Tournaments</td>
	<td width="80%"></td>


</tr>
</font>
{%for id, name,curler,club,tournament in countries%}
<tr id=chform>
	<td width="3%" style="background:transparent;border:0"id=checkbox ><input form ="delete_form" type="checkbox" name="checkbox_{{id}}"></td>
	<td width="3%"id=chform>{{name}}</td>
	<td width="3%"id=chform>{{curler}}</td>
	<td width="3%"id=chform>{{club}}</td>
	<td width="3%"id=chform>{{tournament}}</td>
	<td>
       <a href="{{ url_for('country_update_page',country_id = id) }}" style="text-decoration: none"><font color="#2ECCFA">Update</font></a>
    </td>
</tr>
{%endfor%}
	 </form>
	 <form id="delete_form" action="{{ url_for('countries_page') }} " method = "post">
<tr id=chform>

    <tr id=chform>

				<td><input class="add" Value="Delete" name="delete" type="submit" form="delete_form"></td></form>
</tr>
    </table>

</html>


	{% endblock %}
</html>