<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8" />
	{% extends "layout.html"%}
	{% block title %}Edit Equipment{% endblock %}
</head>
	{% block content %}
	<h2>Edit Equipment</h2>

	<table id="equipmentUpdate"><tr>
		<form id ="update" action="{{url_for('equipments_edit_page', equipment_id=equipment[0])}}" method="POST">
			<input type="hidden" value="{{equipment[0]}}" name="id" readonly="readonly"/>

			<td><input id="equipmentUpdate" form="update" type="text" value="{{equipment[1]}}" name="name" required="required"></td>
			<td><input id="equipmentUpdate" form="update" type="text" value="{{equipment[2]}}" name="manufacturer" required="required"></td>
			<td><input id="equipmentUpdate" form="update" type="text" value="{{equipment[3]}}" name="price" required="required"></td>
			<td>
			<select id="equipmentUpdate" form="update" name="country" required="required">
				{% for country in countries%}
					<option value="{{country[0]}}" {% if equipment[4]==country[1] %}selected="selected"{%endif%}>{{country[1]}}</option>
				{% endfor %}
			</select>
			</td>
			<td><input id="equipmentUpdate" form="update" type="submit" value="Update Equipment" name="update"></td>
		</tr></form>
	</table>


	{% endblock %}
</html>