<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	{% extends "layout.html"%}
	{% block title %}Sponsors{% endblock %}
</head>
	{% block content %}<h2>Sponsors</h2>

	<table id=sponsors>
	<form id="delete_form" action="{{ url_for('sponsors_page') }} " method = "post">




		<tr id=sponsors>
				<td></form>
		</td>{% if(clubs|length>0)%}
				<form id="add" action="{{ url_for('sponsors_page') }} " method = "post">
				<td id="sponsors_form"><input form ="add" id="sponsors" type="text" placeholder="Name of Sponsor" name="name" required="required"></td>
				<td id="sponsors_form">
				<select id="sponsors_form" form="add" name="supportedteam" required="required">
					<option disabled="disabled" selected="selected" hidden="hidden">Select a club</option>
				{% for club in clubs%}
					<option value="{{club[0]}}">{{club[1]}}</option>
				{% endfor %}
				</select>
				<td id="sponsors_form">
				<td id="sponsors_form"><input form ="add" id="sponsors" type="text" placeholder="Budget" name="budget" required="required"></td>

			</tr>
			<tr id=sponsors>
				<td colspan="6" id=sponsors_form_add>
				<input Value="Delete" name="delete" type="submit" form="delete_form">
					</form>
					</td>
			</tr>

						<tr id=sponsors>
				<td colspan="6" id=sponsors_form_add>
					<input form="add" id="sponsors_form_add" value="Add Sponsor" name="add" type="submit"></form>
					</td>
					</tr>
					{%else%}
					</tr>
					<tr id="sponsors_form">
					<td id="sponsors_form" colspan="6">You cannot add sponsor, since there are no clubs added in the database!
					</tr>
					{%endif%}


	</table>

	<table border="1" style="width:60%">
	{% for id, name, supportedteam, budget in sponsors %}
	<tr id=fixture>
		<td id=checkbox><input form ="delete_form" type="checkbox" name="checkbox_{{id}}"> </td>
		<td id=sponsorname>{{name}}</td>
		<td id=sponsorsuppertedteam>{{supportedteam}}</td>
		<td id=sponsorsbudget>{{budget}}</td>
		<td><a href="{{url_for('sponsors_edit_page', sponsor_id=id)}}"><img alt="edit{{id}}" src="/static/edit.png" height="20px"></td>
	</tr>
	{% endfor %}

	</table>


	{% endblock %}

</html>
