<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	{% extends "layout.html"%}
	{% block title %}Sponsors{% endblock %}
</head>
	{% block content %}<h2>Sponsors</h2>

	<table id=sponsors>
	<form id="delete_form" action="{{ url_for('sponsors_page') }} " method = "post">




		<tr id=sponsors>
				<td><input form="add" id="sponsors_form_add" value="Add Sponsor" name="add" type="submit"></form>
		</td>
				<form id="add" action="{{ url_for('sponsors_page') }} " method = "post">
				<td id="sponsors_form"><input form ="add" id="sponsors" type="text" placeholder="Name of Sponsor" name="name" required="required"></td>
				<td id="sponsors_form"><input form ="add" id="sponsors" type="text" placeholder="Supported Team" name="supportedteam" required="required"></td>
				<td id="sponsors_form"><input form ="add" id="sponsors" type="text" placeholder="Budget" name="budget" required="required"></td>

			</tr>
			<tr id=sponsors>
				<td colspan="6" id=sponsors_form_add>
				<input Value="Delete" name="delete" type="submit" form="delete_form">
					</form>
					</td>
			</tr>


	</table>

	<table border="1" style="width:60%">
	{% for id, name, supportedteam, budget in sponsors %}
	<tr id=fixture>
		<td id=checkbox><input form ="delete_form" type="checkbox" name="checkbox_{{id}}"></td>
		<td id=sponsors>{{name}}</td>
		<td id=sponsors>{{supportedteam}}</td>
		<td id=sponsors>{{budget}}</td>
	</tr>
	{% endfor %}

	</table>




	{% endblock %}
</html>
